.footer {
    min-width: 320px;
    max-width: 1920px;
    margin: 0 auto;
    background-color: $primary-color;
    border: solid $third-color;
    &__reseaux {
        width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: solid;
    margin: 0 auto;
        a {
            margin: 1rem auto;
            @include btn;
            &:hover {
                background-color: $third-color;
                color: $primary-color;
                box-shadow: 0 0 20px 5px $secondary-color;
            }
        }
    }
}

#twitter, #facebook, #instagram {
    padding-right: 1rem;
    &:hover > h2::before {
        color: $primary-color;
    }
}

#twitter h2::before {
    @include iconBrands ("\f081", 2rem);
}

#facebook h2::before {
    @include iconBrands ("\f09a", 2rem);
}

#instagram h2::before {
    @include iconBrands ("\e055", 2rem);
}
