.bataille-btn {
    width: 5rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    @include tablette-version {
        left: 1rem;
        top: .3rem;
    }
    @include mobile-version {
        left: 4rem;
        top: 16rem;
    }
    background: linear-gradient(-40deg, $secondary-color, $third-color, $secondary-color);
    color: $primary-color;
    border-radius: 30px;
    &:hover {
        box-shadow: 0 0 20px 5px $secondary-color;
    }
  }

  form {
      width: 80%;
      border: solid;
      margin: 2rem auto;
      div {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
      }
  }
  input {
      border: solid $third-color;
      border-radius: 30px;
      margin-bottom: 2rem;
  }