main {
    width: 80%;
    margin: 0 auto;
}

#header1 {
    border: solid $third-color;
}

#header1::before {
    @include icon("\f078", 1em);
    margin-right: 1rem;
}

.favorite {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__star {
        position: relative;
        width: 1.6rem;
        height: 1.6rem;
        &::before {
            @include iconEmpty;
        }
        &:active {
            &::before {
                position: absolute;
                @include icon;
            }
        }
    }  
}

aside {
    margin: 1rem auto;
    width: 80%;
    max-width: 36rem;
    border: solid $third-color;
    @include mobile-version {
        width: 100%;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.infos {
    height: 10rem;
    overflow: hidden;
    white-space: nowrap;
    p {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}