$breakpoint-mobile: 400px;
$breakpoint-ipad: 768px;

$facebook-color: #3b5998;
$bandcamp-color: #629aa9;
$youtube-color: #c4302b;
$linkedin-color: #007BB5;
$twitter-color: #00acee;
$snapchat: #FFFC00;
$tiktok-aqua: #00f2ea;
$tiktok-red: #ff0050;

$primary-color: rgb(197, 255, 195);
$secondary-color: rgb(27, 146, 23);
$third-color: darken($primary-color,70%);